<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <style type="text/css"><%= asset('styles.css') %></style>
</head>
<body>
  <div class="content">
    <div class="container">
      <div class="stats-column">
        <h5>Memory (RSS)</h5>
        <h1 id="memory-last-value">200MB</h1>
      </div>
      <div class="chart-container">
        <canvas id="memory" width="1000" height="300"></canvas>
      </div>
    </div>

    <div class="container">
      <div class="stats-column">
        <h5>Loadavg (1 min)</h5>
        <h1 id="loadavg-last-value">200</h1>
      </div>
      <div class="chart-container">
        <canvas id="loadavg" width="1000" height="300"></canvas>
      </div>
    </div>
  </div>

  <script charset="utf-8"><%= asset('chart.min.js') %></script>
  <script charset="utf-8"><%= asset('application.js') %></script>
</body>
